

.container__main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.container__title {
    font-size: 4vw;
    text-transform: uppercase;
    margin: 2%;
    color: rgb(48, 51, 197);
    text-shadow: 5px 2px 4px rgb(81 82 85 / 80%);
}

.formcontainer {
    width: 40%;
    background: rgba(77, 157, 160, 0.8);
    box-shadow: 0px 0px 17px 2px rgb(0 0 0 / 80%);
    padding: 2vw 2vw;
    border-radius: 10px;
}

label {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    margin: 0.7vw 0;
    border: 1px solid black;
    font-weight: bold;
    background: rgb(230, 212, 212);
    font-size: 1.2vw;
}

label>input {
    margin: 1%;
    padding: 1vw;
    border-radius: 10px;
    font-size: 1.2vw;
}

label>small {
    font-weight: bold;
    padding: 1vw;
    font-size: 0.8em;
}

.register {
    background: rgb(76, 175, 80);
    color: white;
    padding: 1%;
    border-radius: 5px;
    transition: background 250ms;
    font-size: 1em;
    width: 50%;
}

.register:hover {
    background: rgb(3, 100, 104);
}

.reset {
    padding: 1%;
    border-radius: 5px;
    background: rgb(224, 25, 25);
    color: white;
    transition: background 250ms;
    font-size: 1em;
    width: 50%;
}

.reset:hover {
    background: rgb(3, 100, 104);
}

.register-form__register-button {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.check-icon {
    color: green;
    text-align: left;
}

.message {
    color: red;
}

.error {
    border: 3px solid red;
}

#logo {
    margin-bottom: 1%;
}

@media screen and (max-width: 768px) {
    .formcontainer {
        width: 65%;
    }
    label {
        font-size: 2vw;
    }
    label>input {
        font-size: 1.7vw;
    }
}